@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #16b8f3;
    --foreground: #fafafa;
}

/*fill background with a grid of dots*/
body {
    color: var(--foreground);
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 15px 15px;
}
